nav {
    display: flex;
    gap: 1em;
    padding: 0 1em;
}

nav a {
    color: #4D4D4D;
    font-weight: 500;
}

nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}