section.home {
    background: no-repeat center/cover url('../assets/home-background.png');
    color: #FFFFFF;
    padding: 2em 1em;
}

a.find-van {
    color: inherit;
    background: #FF8C38;
    border-radius: 5px;
    width: 100%;
}