@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  --primary-color: #FF8C38;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: #FFF7ED;
}

/* Used by HOME & ABOUT page and VAN DETAIL PAGE */
.link-button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.1125rem;
  border: none;
  text-decoration: none;
  padding: 1em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

/* HOME & ABOUT TEXT CONTENT */
.general-text {
  font-weight: 500;
  line-height: 1.5;
  text-align: justify;
}

/* ALL NAV */
a.logo {
  color: #000000;
}

header,
nav {
  display: flex;
  align-items: center;
}

header {
  padding: 1em;
  background: #FFF7ED;
  justify-content: space-between;
}

nav {
  margin-left: auto;
  gap: 0.5em;
  padding: 0.5em 0;
}

nav>a {
  color: #4d4d4d;
  font-weight: 500;
}

nav>a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

a.active-link {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

/******************* ALL VANS / VAN DETAIL ******************/
img.van-image {
  display: block;
  width: 100%;
  border-radius: 10px;
}

span.van-type {
  display: inline-block;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 0.75em;
}

h2.van-name,
p.van-price {
  line-height: 1.5;
  color: #161616;
  font-weight: 600;
}

span.van-price-inner {
  font-weight: 700;
  font-size: 1.5rem;
}

span.simple {
  background: #E17654;
}

span.rugged {
  background: #115E59;
}

span.luxury {
  background: #161616;
}

/******************* ALL VANS ******************/
section.van {
  padding: 1em;
}

div.filters {
  display: flex;
  gap: 1em;
  margin: 1em 0;
}

button.filter {
  font-family: inherit;
  border: none;
  font-size: 1.125rem;
  font-weight: 500;
  color: #4D4D4D;
  background: #FFEAD0;
  cursor: pointer;
  transition: all 0.25s linear;
  border-radius: 5px;
  padding: 1em;
}

button.simple:hover,
button.simple.selected {
  background: #E17654;
  color: #FFEAD0;
}

button.luxury:hover,
button.luxury.selected {
  background: #161616;
  color: #FFEAD0;
}

button.rugged:hover,
button.rugged.selected {
  background: #115E59;
  color: #FFEAD0;
}

button.clear-type-filter {
  background: none;
  border: none;
  text-decoration: underline;
}

div.van-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

div.van-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/******************* VAN DETAIL ******************/
section.van-detail {
  padding: 0.75em;
}

div.van-detail-inner {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75em;
  color: #161616;
}

p.van-detail-price,
p.van-detail-description {
  margin: 0;
}

p.van-detail-description {
  text-align: justify;
}

.van-detail-inner .link-button {
  background-color: #FF8C38;
  color: white;
  font-size: 1.125rem;
}

/******************* HOST VAN LIST & HOST VAN DETAILS ******************/
section.host-home {
  padding: 0 1em;
}

@media(width >=574px) {
  div.host-van-detail-inner {
    display: flex;
  }
}

div.host-van-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

div.host-van-card {
  position: relative;
  padding: 0.5em;
  background: #FFF;
  border-radius: 5px;
}

img.host-van {
  max-width: 200px;
  display: block;
}

div.host-van-card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h3.host-van-name,
span.host-van-price,
span.day-text {
  display: inline-block;
  line-height: 1.5;
  color: #161616;
  font-weight: 600;
}

h3.host-van-name {
  font-size: 1.25rem;
}

span.day-text {
  font-size: 0.7rem;
}

/******************* HOST VAN DETAILS ******************/
.back-button {
  display: block;
  color: #161616;
  margin-bottom: 1em;
}

.back-button span:hover {
  text-decoration: underline;
}

span.host-van-type {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

/******************* LOGIN / REGISTER / ADD VANS FORMS ******************/
h1.form-header {
  text-align: center;
}

form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.125em;
}

form.add-van {
  padding: 1em 0;
}

form input,
form select {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 1em;
  font-family: inherit;
  outline: none;
  border: 1px solid #D1D5DB;
}

form button {
  margin-top: 1em;
  font-family: inherit;
  color: #FFF;
  font-weight: 700;
  background: #FF8C38;
  width: 100%;
  border: none;
  padding: 1em 0;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

p.error {
  text-align: center;
  color: red;
}