@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  --primary-color: #FF8C38;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: #FFF7ED;
}

/*Used by HOME & ABOUT page and another class*/
.link-button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 1.1125rem;
  border: none;
  text-decoration: none;
  padding: 1em;
}

main {
  padding: 1em;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
}

/* HOME & ABOUT TEXT CONTENT */
.general-text {
  font-weight: 500;
  line-height: 1.5;
  text-align: justify;
}

/******************* ALL VANS / VAN DETAIL / HOST VAN LIST ******************/
img.van-image {
  display: block;
  width: 100%;
  border-radius: 10px;
}

span.van-type {
  display: inline-block;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 1em;
}

h2.van-name,
p.van-price {
  line-height: 1.5;
  color: #161616;
  font-weight: 600;
}

span.van-price-inner {
  font-weight: 700;
  font-size: 1.5rem;
}

span.simple {
  background: #E17654;
}

span.rugged {
  background: #115E59;
}

span.luxury {
  background: #161616;
}

/******************* ALL VANS ******************/
section.van {
  padding: 1em;
}

h1.all-vans-header {
  color: #161616;
}

div.filters {
  display: flex;
  gap: 1em;
  margin: 1em 0;
}

button.filter {
  font-family: inherit;
  border: none;
  font-size: 1.125rem;
  font-weight: 500;
  color: #4D4D4D;
  cursor: pointer;
  transition: all 0.25s linear;
}

button.type-filter {
  background: #FFEAD0;
  border-radius: 5px;
  padding: 1em;
}

button.simple:hover,
button.simple.selected {
  background: #E17654;
  color: #FFEAD0;
}

button.luxury:hover,
button.luxury.selected {
  background: #161616;
  color: #FFEAD0;
}

button.rugged:hover,
button.rugged.selected {
  background: #115E59;
  color: #FFEAD0;
}

button.clear-type-filter {
  background: none;
  border: none;
  text-decoration: underline;
}

div.van-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

div.van-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/******************* VAN DETAIL ******************/
section.van-detail {
  padding: 1.5em;
}

div.van-detail-inner {
  display: flex;
  flex-direction: column;
  color: #161616;
  gap: 1em;
}

div.van-detail-inner span.van-type {
  align-self: start;
}

.van-detail-inner .link-button {
  background-color: #FF8C38;
  color: white;
  font-size: 1.125rem;
}

/******************* HOST VAN LIST & HOST VAN DETAILS ******************/
section.host-vans {
  padding: 0.5em;
}

div.host-vans-inner {
  padding: 0.5em 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

div.host-van-card {
  padding: 0.5em;
  background: #FFF;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.25em;
}

img.host-van {
  max-width: 75px;
}

h3.host-van-name,
p.host-van-price {
  line-height: 1.5;
  color: #161616;
  font-weight: 600;
}

h3.host-van-name {
  font-size: 1.25rem;
}

span.host-van-price-inner {
  font-size: 0.65rem;
}

/******************* HOST VAN DETAILS ******************/
div.host-van-card-inner span.van-type {
  padding: 0.5em;
}

.back-button {
  display: block;
  color: #161616;
  margin-bottom: 1em;
}

.back-button span:hover {
  text-decoration: underline;
}

.host-van-detail-nav {
  display: flex;
  margin-block: 25px;
}

.host-van-detail-nav a {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 20px;
}

.host-van-detail-nav a:first-of-type {
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
  padding: 5px 15px;
  margin-left: -15px;
}

.host-van-detail-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}

/******************* LOGIN / REGISTER / ADD VANS FORMS ******************/
h1.form-header {
  text-align: center;
}

form {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.125em;
}

form input,
form select {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  width: 100%;
  padding: 1em;
  font-family: inherit;
  outline: none;
  border: 1px solid #D1D5DB;
}

form button {
  margin-top: 1em;
  font-family: inherit;
  color: #FFF;
  font-weight: 700;
  background: #FF8C38;
  width: 100%;
  border: none;
  padding: 1em 0;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

p.error {
  text-align: center;
  color: red;
}